.home {
  .features {
    padding: 60px 0;
    background-color: #f9f9f9;
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
      .features-title {
        text-align: center;
        margin-bottom: 50px;
        font-size: 28px;
        color: #333;
      }
      .features-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
      }
      .feature-card {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        text-align: center;
        transition: transform 0.3s ease;
        &:hover {
          transform: translateY(-5px);
        }
        .feature-icon {
          width: 300px; /* Increased from 50px to 100px */
          height: 170px; /* Ensures the image height adjusts proportionally */
          margin-bottom: 15px;
        }
        .feature-card-title {
          font-size: 20px;
          margin-bottom: 10px;
          color: #333;
        }
        p {
          font-size: 16px;
          color: #666;
        }
      }
      .feature-video {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        .video-control {
          width: 100%;
          max-width: 600px;
          border-radius: 10px;
          box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        }
      }
    }
  }
  

  .explore {
    display: flex;
    justify-content: center;
    padding: 100px 0px;

    .container {
      width: 1400px;

      h1{
        color: #555;
      }

      .items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
          width: 250px;
          height: 150px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          justify-content: center;
          text-align: center;
          cursor: pointer;

          img {
            width: 50px;
            height: 50px;
          }

          .line{
            width: 50px;
            height: 2px;
            background-color: lightgray;
            transition: all .3s ease;
          }

          span {
            font-weight: 300;
          }

          &:hover{
            .line{
              width: 80px;
              background-color: #00c3ff;
            }
          }
        }
      }
    }
  }
}
