
.cart-popup {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 9999;
    width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0.95);
    opacity: 0;
    pointer-events: none;
}

.cart-popup.show {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.cart-items {
    max-height: 400px;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1050;
}

.modal-backdrop {
    z-index: 1040;
}

.btn-cart {
    color: #ffe69c;
    background-color: #020305;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

.cart-item-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}